* {
    padding: 0px;
    margin: 0px;
}

form {
    background-color: rgb(216, 229, 253);
    max-width: 50%;
    margin: auto;
}

body {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

p {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

fieldset {
    border: none;
}

#name_style {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

#nome {
    display: flex;
}

#sobrenome {
    display: flex;
}

#email_style {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#radio_button {
    text-align: center;
    padding-top: 10px;
}

#senhoridade_style {
    text-align: center;
    margin-top: 10px;
}

#tecnology {
    text-align: center;
    margin-top: 10px;
}

#xp_style {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    column-gap: 10px;
}

#bt {
    display: block;
    margin: auto;
    margin-top: 10px;
}